---
layout: default
title: 标签
header: 根据标签快速导航到相应的文章
type: nav
---
<ul class="tag_box inline">
	{% assign tags_list = site.tags %}
	{% if tags_list.first[0] == null %}
		{% for tag in tags_list %}
			<li><a href="{{ site.baseurl }}tags.html#{{ tag }}-ref">{{ tag }} <span>{{ site.tags[tag].size }}</span></a></li>
	    {% endfor %}
	{% else %}
	    {% for tag in tags_list %}
			<li><a href="{{ site.baseurl }}tags.html#{{ tag[0] }}-ref">{{ tag[0] }} <span>{{ tag[1].size }}</span></a></li>
		{% endfor %}
	{% endif %}
</ul>

<div class = "card">
	{% for tag in site.tags %}
	<h3 id="{{ tag[0] }}-ref">{{ tag[0] }}</h3>
	<ul>
		{% for node in tag[1] %}
			{% if node.title != null %}
				<li><a href="{{ site.baseurl }}{{node.url}}">{{node.title}}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
	{% endfor %}
</div>
